body {
    font: 12px/18px Arial, sans-serif;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
    height: 100vh;
    width: 100%;
    background-image:radial-gradient(circle, rgba(177, 181, 196, 0.308) 0%, rgba(0,0,0,1) 93%),url("../images/smaglosfilm.mp4");
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    
 
    
}


.menubar {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: transparent;
}



.menubar ul {
display: block;
text-align: center;
padding: 0;
margin: 0;
list-style: none;
}

.menubar ul li {
display: inline-block;
  width: 220px;
list-style: none;
  vertical-align: middle;
}

.menubar ul li a {
text-decoration: none;
color: white;
padding: 0 15px 0 0;
font-size: 20px;
color: #f9ab22;
}

.logo img {
margin: 10px auto 0px auto;
display: block;
width:220px;
}




/* Middle
-----------------------------------------------------------------------------*/

section {
  width: 100%;
  height: 800px;
  
}



#banner {
  width: 100%;
  height: 800px;
}

#bannertekst {
  font-size: 80px;
  color: white;
  position: relative;
  top: -650px;
  right: -650px;
  width: 550px;
}

.button1 {
  background-color: #f9ab22;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  top: -500px;
  right: -550px;
}

.button2 {
  background-color: #f9ab22;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  top: -500px;
  right: -700px;
}

.button3 {
  background-color: #f9ab22;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  top: -500px;
  right: -850px;
}

#s2 {
  background-color: #000116;
  
  
}

.omosbillede1 {
  position: relative;
  display: flex;
  padding-bottom: 10px;
  right: -700px;
  top: -600px;
  width: 100%;
  max-width: 450px;
}

#omos {
  font-size: 3.5em;
  color: #f9ab22;
  padding-bottom: 60px;
  padding-top: 50px;
}

#omostekst {
  color: #f9ab22;
  font-size: 2em;
  line-height: 1.5em;
  width: 45%;
}

#s3 {
  background-image: linear-gradient(0deg, rgba(148, 148, 148, 0.24) 0%, rgba(0,0,0,1) 100%), url("../images/orange.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

/* SLIDESHOW-----------------------------------------------------------------------------------------------*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}






/* SLIDESHOW SLUT -----------------------------------------------------------------------------------------*/



#overskriftevents {
  font-size: 80px;
  text-align: center;
  padding: 50px;
}


#event1 {
  float: left;
  padding-right: 20px;
  padding-bottom: 50px;
}

#event2 {
  float: left;
  padding-right: 20px;
  padding-bottom: 50px;
}



#eventtekst1 {
  float: right;
  font-size: 18px;
  line-height: 1.6;
  
}

#eventtekst2 {
  float: right;
  font-size: 18px;
  line-height: 1.6;
  
}

#s4 {
  background-color: #000116;
}

#overskriftmenu {
  font-size: 3.5vw;
  text-align: center;
  padding: 50px;
  color: #f9ab22;
}

#underoverskriftmenu {
  font-size: 2.8vw;
  text-align: center;
  padding: 50px;
  color: #f9ab22;

}

.menukortknap {
  background-color: #f9ab22;
  border: none;
  color: white;
  padding: 0.78125vw 1.6666666666666667vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  right: -170px;
  top: -180px;
  border-radius: 15px;
}

.menukortknap:hover {
  transform: scale(1.05);
  transition: 0.5s;
  background: #b87606;
}


#teksttilmenu {
  color: #f9ab22;
  width: 100%;
}

* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
  padding-top: 80px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#s5 {
  background-image: linear-gradient(180deg,  rgba(143, 138, 138, 0.719) 0%, rgba(19, 18, 18, 0.644) 0%), url("../images/orangeevent.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;

}

#eventsoverskrift {
  font-size: 80px;
  text-align: center;
  padding: 50px;
  color: #f9ab22;
}

#tekstevent {
  font-size: 20px;
  line-height: 1.5;
  color: #f9ab22;
}

.eventknap {
  background-color: #f9ab22;
  border: none;
  color: white;
  padding: 0.78125vw 1.6666666666666667vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  right: -400px;
  top: 50px;
  border-radius: 15px;
}

.eventknap:hover {
  transform: scale(1.05);
  transition: 0.5s;
  background: #b87606;
}

.eventbillede {
  width: 33.11%;
  padding: 15px;
  padding-top: 60px;
}




/* Footer
-----------------------------------------------------------------------------*/
#footer {
    height: auto;
    background: #000116;
    padding: 70px 0;
    
}

.footertekst {
  color: #f9ab22;
}



*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer-col{
   width: 33.33%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #f9ab22;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
